<h1>Edit a book<h1>

<form action="<%= book_path(@book.id) %>" method="POST">

 <input type="hidden" value="<%= form_authenticity_token %>" name="authenticity_token" /> 


<input type="hidden" name="_method" value="patch" /> 

    <label for="title">Title</label>
    <input type="text" name="book[title]" id="title" value="<%= @book.title %>"   />

    <label for="author">Author</label>
    <input type="text"  name="book[author]" id="author" value="<%= @book.author.name %>"    />

    
    <select id="author" name="book[author_id]">
      <option>--Select Author--</option>
      <%@authors.each do | author | %>
        <option value=<%= author.id %>><%=author.name%></option> 
      <% end %>
    </select>

    <label for="date">Published date</label>
    <input type="date"   name="book[published_date]" id="date" value="<%= @book.published_date %>"  />


   <input type="submit" value="Update"/>

</form> 